* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  font-family: sans-serif;
}

.color-panel {
  place-self: center;
  padding: 1rem 4rem;
  background-color: #fff;
  border: 3px solid black;
  border-radius: 1em;
  text-align: center;
}

.color-panel__text {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
  margin: 1rem 0;
}

.color-panel__btn {
  padding: 1rem 2rem;
  background-color: #1280da;
  color: white;
  border: none;
  border-radius: 1em;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.color-panel__btn:active {
  transform: scale(1.1);
}
